- In column H, get the row numbers of the Locality column.
- In column I, get the column numbers of that column.
- In column J, convert columns H and I back to addresses in $A$1 absolute format.
- In column K, convert columns H and I back to addresses in A1 relative format.

```
=ROW(B2)

=COLUMN(B2)

=ADDRESS(H2,I2)

=ADDRESS(H2,I2,4)
```

- In column I, pass the addresses from column H to INDIRECT() to retrieve the number of Brush-footeds.

```
=INDIRECT(H2)
```

- In cell I1, get the count of Skippers in the Indian Subcontinent as the value from the cell offset 1 down from C1.
- In cell I2, again get the count of Skippers in the Indian Subcontinent, this time as the value from the cell offset 2 right from A2.
- In cell I3, get the count of Skippers in Western Himalaya as the values from the range of cells offset 2 right from A3, with height 7, and sum them.

```
=OFFSET(C1,1,0)

=OFFSET(A2,0,2)

=SUM(OFFSET(A3,0,2,7))
```

Use the block of data for North East India + North Myanmar, from A11 to G19 as the reference.

- In cell I1, use INDEX() to get the number of Blues in Sikkim.
- In cell I2, get the number of White-yellows in Mizoram Hills.

```
=INDEX(A11:G19,3,6)

=INDEX(A11:G19,9,5)
```

Find the same values from the INDEX() exercise, now using VLOOKUP(). Your data range is from $B$11 to $G$19.

- In cell I1, get the number of Blues in Sikkim. Call VLOOKUP(), passing "Sikkim", the data range, an offset of 5, and FALSE.
- In cell I2, get the number of White-Yellows in Mizoram Hills.

```
=VLOOKUP(B13,$B$11:$G$19,5,FALSE)

=VLOOKUP(B19,$B$11:$G$19,4,FALSE)
```

- In cell I2, write a command to sort the butterfly dataset by decreasing number of Skippers.

```
=SORT($A$2:$G$45,3,FALSE)
```

- In cell I1, MATCH() the position of the smallest number of Skippers greater than or equal to 100. The data range is C2 to C45.
- In cell I2, get the ADDRESS() of that cell. The row is the match position plus one (for the header row), and it's the third column.
- In cell I3, get the value in that cell to find the smallest number of Skippers greater than 100.

```
=MATCH(100,C2:C45,-1)

=ADDRESS(I1+1,3)

=INDIRECT(I2)
```

- In column H, define a logical condition where the count of each butterfly type is greater than 50.
- In cell I2, define a filter on the whole dataset (columns A to G), using the logical condition in column H.

```
=AND(C2>50,D2>50,E2>50,F2>50,G2>50)

=FILTER(A2:G45,H2:H45)
```

- In cell H2, get the unique Area values using UNIQUE().
- In column I, use COUNTIF() to get the count of each Area. Pass the data range from A2 to A45 as absolute addresses, and the filter criteria from H2 to H9.
- In column J, use COUNTIFS() to get the count of each area with more than 20 Swallow-tails. the first two arguments are the same as the previous step, then add a condition for column D to be greater than 20.

```
=UNIQUE(A2:A45)

=COUNTIF($A$2:$A$45,H2:H9)

=COUNTIFS($A$2:$A$45,H2:H9,$D$2:$D$45,">20")
```

- In cell J2, get the unique Areas.
- In column K, rows 2 to 9, use AVERAGEIF() to calculate the average count of Brush-footeds by Area. Pass it the area data as absolute addresses, the unique areas, and the Brush-footed count data as absolute addresses.
- In column H, join the average counts back to the original dataset. VLOOKUP() takes 4 arguments. It needs the Area from column A, the data range of the table you just created (J2 to K9) as absolute addresses, the column in the that table that contains the averages (2), and whether or not that table is sorted (FALSE).
- In column I, IF() column G is blank, take the value from column H, else take the value from column G.

```
=UNIQUE(A2:A45)

=AVERAGEIF($A$2:$A$45,J2:J9,$G$2:$G$45)

=VLOOKUP(A2,$J$2:$K$9,2,FALSE)
```